html {}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/natureBackground.jpg');
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: auto;
    background-color: white;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 10px;
    width: 110%;
    height: 100%;
}

.main {
    width: 87%;
    background-color: white;
}

.section {
    overflow: scroll;
    height: 37em;
}

.nav {}

.nav__image {}

.nav__image__a {}

.nav__image__a__imageGitHub {}

.nav__image__a_span {}